*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.container {
  height: 93vh;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 15px;
}

.start-button,
.restart-button {
  font-size: 1.2rem;
  width: 150px;
}

#text {
  color: black;
  background-color: white;
  font-size: 4vh;
  text-align: center;
  letter-spacing: 10px;
  font-weight: bold;
  text-shadow: 5px 0px 5px black;
}

#turn {
  color: white;
  left: 0;
  right: 0;
  font-size: 2rem;
  text-align: center;
}

.board {
  background-color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  justify-self: center;
}

.cell {
  background-color: white;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before,
.board.x .cell:hover:not(.x):not(.circle)::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover:not(.x):not(.circle)::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: black;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  background-color: rgb(134, 6, 6);
}
.cell.circle::before {
  background-color: rgb(12, 145, 12);
}

.board.x .cell:hover:not(.x):not(.circle)::before,
.board.x .cell:hover:not(.x):not(.circle)::after,
.board.circle .cell:hover:not(.x):not(.circle)::before {
  background-color: lightgrey;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem, 0.5rem;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
